
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(siteimage.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  height: 4rem;
  padding: 1.1rem;
  border: 2px solid grey;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #ca8065;
  margin-bottom: 0.5rem;
  box-shadow: 8px 10px 2px #a7370e;
}

.header .header-container {
  font-size: 0.9rem;
}

.main {
  
  text-align: center;
  padding: 1.1rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .main-container {
  width: 70vw;
  height: 27rem;
  padding: 3rem 2.5rem;
  margin-top: 1rem;
  background: #bbb0b0;
  border-radius: 10px;
  box-shadow: 14px 9px 10px #000;
}

.main .main-container p {
  font-size: 1.2rem;
  line-height: 1.5;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .main-container h4 {
  margin: 4rem 0 1.2rem 0;
  color: #c52626;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.main .main-container button {
  padding: 0.6rem 1.2rem;
  color: #fff;
  background-color: #0e0d0d;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 8px 10px #333;
}

.main .main-container button:hover {
  background: #000;
}



/* MEDIA QUERY FOR RESPONSIVENESS */
@media screen and (min-width: 668px) {
  .main .main-container {
      width: 50vw;
  }
}
